.img-circle {
    border-radius: 50%;
}

.img-sm {
    height: 40px;
    width: 40px;
}

.img-lg {
    height: 120px;
    width: 120px;
    padding: 20px;
}

.page-link .img-circle {
    margin-right: 10px;
}

